<%- include("../partials/adminHeader") %>
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .pagination .btn {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }
    
    .pagination .active {
        background-color: #333;
        color: #fff;
    }
    
    .pagination .btn:hover {
        background-color: #ddd;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            <p></p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="right mt-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><b>Product name</b></th>
                            <th scope="col"><b>ProductImage</b></th>
                            <th scope="col"><b>Category</b></th>
                            <th scope="col"><b>Quantity</b></th>
                            <th scope="col"><b>Regular Price</b></th>
                            <th scope="col"><b>Sale Price</b></th>
                            <th scope="col"><b>Action</b></th>
                            <th scope="col"><b>Edit</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].productName %></td>
                                <td>
                                        <% if (data[i].productImage && Array.isArray(data[i].productImage) && data[i].productImage.length > 0) { %>
                                            <img src="/uploads/products/<%= data[i].productImage[0] %>" class="img-sm img-thumbnail" alt="Item">
                                        <% } else { %>
                                            <img src="/default-productImage.jpg" class="img-sm img-thumbnail" alt="Default Item">
                                        <% } %>
                                </td>
                                <td><%= data[i].category %></td>
                                <td><%= data[i].quantity %></td>
                                <td>₹<%= data[i].regularPrice %></td>
                                <td>₹<%= data[i].salePrice %></td>
                                <td>
                                    <% if (data[i].isBlocked === false) { %>
                                        <button class="btn btn-danger" style="width: 90px;" onclick="confirmBlock('<%= data[i]._id %>')">Block</button>
                                    <% } else { %>
                                        <button class="btn btn-success" style="width: 90px;" onclick="confirmUnblock('<%= data[i]._id %>')">Unblock</button>
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-info" style="width: 80px;">
                                        <a href="/admin/editProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Edit</a>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                    <!-- Pagination -->
                    <div class="pagination">
                        <% if (currentPage > 1) { %>
                            <a href="?page=<%= currentPage - 1 %>" class="btn">Previous</a>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <a href="?page=<%= i %>" class="btn <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <a href="?page=<%= currentPage + 1 %>" class="btn">Next</a>
                        <% } %>
                    </div>
            </div>
        </div>
    </div>

 

</section> <!-- content -->

<script>
     function confirmBlock(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to block this product.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, block it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the block route or perform any other action
                window.location.href = '/admin/blockProduct?id=' + productId;
            }
        });
    }

    function confirmUnblock(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to unblock this product.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, unblock it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the unblock route or perform any other action
                window.location.href = '/admin/unBlockProduct?id=' + productId;
            }
        });
}
</script>

<%- include("../partials/adminFooter") %>
