<%- include("../partials/adminHeader") %>

<style>
    .error-message{
        color: red;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-60">
            <form method="post" action="/admin/editCategory/<%= category.id %>" onsubmit="return validateForm(event)">
                
                <div>
                    <h2 class="content-title card-title">Edit Category</h2>
                </div>

                <div class="mb-4 mt-30">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" id="categoryName" name="categoryName" value="<%= category.name %>" class="form-control border" />
                    <div id="nameError" class="error-message"></div>
                </div>
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea id="description" name="description" class="form-control border"><%= category.description %></textarea>
                    <div id="descriptionError" class="error-message"></div>
                </div>
                <div class="d-grid text-end mt-30 col-md-5">
                    <button type="submit" class="btn btn-primary">Update category</button>

                </div>
            </form>
        </div>
    </div>
</div>

<br><br>
<br><br>
<br><br>

<script>
    function validateForm(event) {
    const categoryNameInput = document.getElementById('categoryName');
    const descriptionInput = document.getElementById('description');
    const nameError = document.getElementById('nameError');
    const descriptionError = document.getElementById('descriptionError');
    const existingCategories = ["LED", "LCD", "OLED","QLED","Curved"]; 

    nameError.textContent = ""; 
    descriptionError.textContent = "";

    const categoryName = categoryNameInput.value.trim().toLowerCase();

    if (categoryName === "") {
        nameError.textContent = "Please enter a name for the category.";
    } else if (existingCategories.map(cat => cat.toLowerCase()).includes(categoryName)) {
        nameError.textContent = `The category '${categoryName}' already exists.`;
    }

    if (descriptionInput.value.trim() === "") {
        descriptionError.textContent = "Please enter a description for the category.";
    }

    if (nameError.textContent !== "" || descriptionError.textContent !== "") {
        event.preventDefault();
        return false;
    }

    return true;
}



</script>

<%- include("../partials/adminFooter") %>
