<%- include("../partials/header") %>

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% if (isSingle === true) { %>
                                        <% if (product && Array.isArray(product) && product.length > 0) { %>
                                            <% for (let i = 0; i < product.length; i++) { %>
                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/products/<%= product[i].productImage[0] %>" alt="#">
                                                    </td>
                                                    <td>
                                                        <h5>
                                                            <a href="shop-product-full.html"><%= product[i].productName %></a>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <p>1</p>
                                                    </td>
                                                    <td><%= product[i].salePrice %></td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="4">No products found</td>
                                            </tr>
                                        <% } %>
                                    <% } else { %>
                                        <% if (data.length > 0) { %>
                                            <% for (let i = 0; i < data.length; i++) { %>
                                                <input type="hidden" id="productId" name="productId" value="<%= data[i]._id%>">
                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/products/<%= data[i].productDetails[0].productImage[0] %>"
                                                            alt="#" />
                                                    </td>
                                                    <td>
                                                        <h5><%= data[i].productDetails[0].productName %></h5>
                                                    </td>
                                                    <td><%= data[i].quantity %></td>
                                                    <td>₹<span><%= data[i].productDetails[0].salePrice * data[i].quantity %></span></td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="payment_option">
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_option" value="cod" id="exampleRadios4"
                                        checked="">
                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"
                                        data-target="#checkPayment" aria-controls="checkPayment">Cash On Delivery
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <% let grandTotal = 0; %>
                                        <% for (let i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="cart_total_label">Product <%= i + 1 %> Total</td>
                                                <td class="cart_total_amount">
                                                    <span class="font-lg fw-900 text-brand">₹ <%= data[i].productDetails[0].salePrice * data[i].quantity %></span>
                                                </td>
                                            </tr>
                                            <% grandTotal += data[i].productDetails[0].salePrice * data[i].quantity; %>
                                        <% } %>
                                        <tr>
                                            <td class="cart_total_label" >Grand Total</td>
                                            <td class="cart_total_amount">
                                                <span class="font-lg fw-900 text-brand" id="totalValue">₹ <%= grandTotal %></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                        <a href="#" id="placeOrderButton" class="btn btn-fill-out btn-block mt-30">Place Order</a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row align-items-start mt-30 ml-150">
                        <% if (locals.userAddress) { %>
                            <% userAddress.address.forEach((address) => { %>
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="addressRadio<%= address._id %>"
                                                name="selectedAddress" value="<%= address._id %>">
                                            <label class="form-check-label" for="addressRadio<%= address._id %>">Select
                                                Address</label>
                                        </div>

                                        <div class="card-header">
                                            <h5 class="mb-0"><%= address.addressType %></h5>
                                        </div>
                                        <div class="card-body">
                                            <address>
                                                <%= address.name %><br />
                                                <%= address.city %>,<br />
                                                <%= address.landMark %> <br />
                                                <%= address.state %>
                                            </address>
                                            <p><%= address.pincode %></p>
                                            <p><%= address.phone %></p>
                                            <p><%= address.altPhone %></p>
                                            <div class="d-flex justify-content-between">
                                                <a href="/editAddress?id=<%= address._id %>" class="btn-small">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <div class="col-lg-6 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0"></h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            No address
                                        </address>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <div class="col-lg-6 mb-3">
                            <a href="/addAddress">
                                <button class="btn btn-primary w-100">Add address</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const placeOrderButton = document.getElementById("placeOrderButton");
        placeOrderButton.addEventListener("click", function (event) {
            event.preventDefault();
            const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked');
            const payment = $("input[name='payment_option']:checked").val();
            const proID = document.getElementById("productId").value;
            const sum = document.getElementById("totalValue").textContent;
            const numericValue = parseInt(sum.replace(/[^\d.]/g, ''));

            if (!selectedAddress) {
                Swal.fire({
                    icon: 'error',
                    title: 'Select an address to place the order',
                    showConfirmButton: false,
                    timer: 2000
                });
            } else {
                $.ajax({
                    url: '/orderPlaced',
                    method: 'POST',
                    data: {
                        grandTotal: numericValue,
                        addressId: selectedAddress.value, 
                        payment: payment,
                        productId: proID
                    },
                    success: function (response) {
                        if (response.method === "cod") {
                            Swal.fire({
                                title: "Order success",
                                text: "Order placed successfully",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 2000,
                            })
                            setTimeout(() => {
                                window.location.href = "/profile";
                            }, 700);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Please try again later.',
                        });
                    }
                })
            }
        });
    });
</script>

<%- include("../partials/footer") %>
