<%- include("../partials/header") %>


    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <% for (let i=0; i < product.productImage.length; i++) { %>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/products/<%= product.productImage[i] %>"
                                                    alt="product image">
                                            </figure>
                                            <% } %>

                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <% for (let i=0; i < product.productImage.length; i++) { %>
                                            <div><img src="/uploads/products/<%= product.productImage[i] %>"
                                                    alt="product image">
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12 align-items-center">
                                <div class="detail-info">
                                    <h2 class="title-detail">
                                        <%= product.productName %>
                                    </h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <!-- <span> Brands: <a href="shop-grid-right.html"></a></span> -->
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">₹<%= product.salePrice.toLocaleString('en-IN')
                                                        %>
                                                </span></ins>
                                            <ins><span class="old-price font-md ml-15">₹<%=
                                                        product.regularPrice.toLocaleString('en-IN') %></span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>
                                            <%= product.description %>
                                        </p>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>
                                            <li class="mb-5">TV Size: <%= product.size %>
                                            </li>
                                            <li class="mb-5">Resolution: <%= product.resolution %>
                                            </li>
                                            <li class="mb-5">Category: <%= product.category %>
                                            </li>
                                        </p>
                                    </div>

                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Manufacturer
                                                Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy
                                            </li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                            </li>
                                            <li><a href="#" data-color="Yellow"><span
                                                        class="product-color-yellow"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span
                                                        class="product-color-white"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span
                                                        class="product-color-orange"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span
                                                        class="product-color-cyan"></span></a></li>
                                            <li><a href="#" data-color="Green"><span
                                                        class="product-color-green"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span
                                                        class="product-color-purple"></span></a></li>
                                        </ul>
                                    </div> -->
                                    <!-- <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            <li><a href="#">S</a></li>
                                            <li class="active"><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">XL</a></li>
                                            <li><a href="#">XXL</a></li>
                                        </ul>
                                    </div> -->
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">

                                        <div class="product-extra-link2">
                                            <button type="submit" class="button button-add-to-cart"
                                                onclick="addToCart('<%= product.id %>',1,'<%= product.quantity %>')">Add
                                                to cart</button>

                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <!-- <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">ID: <%= product.id %>
                                        </li>
                                        <li class="mb-5">Tags: TV, <%= product.category %>
                                        </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">
                                                <%= product.quantity %> Items In Stock
                                            </span></li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 m-auto entry-main-content">
                                <h2 class="section-title style-1 mb-30">Description</h2>
                                <div class="description mb-50">
                                    <p>Television, a ubiquitous electronic device, revolutionized global communication
                                        and entertainment. Functioning as a visual and auditory medium, it broadcasts a
                                        diverse array of programs, spanning news, entertainment, education, and more.
                                        With its evolution from bulky cathode-ray tubes to sleek, high-definition LED
                                        screens, televisions have become central to modern living spaces. Offering a
                                        window to the world, they connect individuals to information, culture, and
                                        entertainment, fostering shared experiences. Beyond passive viewing, smart TVs
                                        integrate internet connectivity, enabling interactive content streaming and
                                        diverse applications. Television's enduring presence reflects its role as a
                                        cultural touchstone, shaping societies and reflecting contemporary life.</p>
                                    <br>

                                    <ul class="product-more-infor mt-30">
                                        <li><span>In the Box</span> 1 piece TV, 1 Piece User Manual, 1 Piece Warranty
                                            Card, 1 Piece Remote Control,1 Set Base Stand , 1 Pair Screws, 1 Pair
                                            Batteries , 1 Piece Power Cord, 1 Piece Wall Mounting Set.</li>
                                        <li><span>Smart Tv</span> Yes</li>
                                        <li><span>HDMI</span> 3</li>
                                        <li><span>USB</span> 2</li>
                                        <li><span>Built In Wi-Fi</span> Yes</li>
                                        <li><span>Number of Speakers</span> 2</li>

                                    </ul>
                                    <hr class="wp-block-separator is-style-dots">
                                    <p>Modern 50-inch TVs typically feature high-resolution displays like 4K, smart
                                        capabilities for streaming services, HDR for enhanced contrast, multiple HDMI
                                        ports, USB connectivity, sleek designs with slim bezels, and advanced audio
                                        technologies. Some may include voice control, gaming modes, and integration with
                                        virtual assistants for a comprehensive entertainment experience.</p>

                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
    <script>

        function addToCart(proId,quantity, stock) {
            // console.log(proId, stock);
            if (stock <= 0) {
                Swal.fire({
                    title: 'OUT OF STOCK!',
                    text: 'Quantity exceed.',
                    icon: 'error',
                    timer: 5000
                })
                return;
            }

            $.ajax({
                url: `/cart`,
                method: 'post',
                data: {
                    id:proId,
                    quantity: quantity,
                },
                success(response) {
                    if (response.added == true) {
                        Swal.fire({
                            title: 'CART',
                            text: 'PRODUCT ADDED TO CART.',
                            icon: 'success',
                            timer: 5000
                        })
                    } else if (response.added == false) {
                        Swal.fire({
                            title: 'STOCK!',
                            text: 'Product is out of stock.',
                            icon: 'error',
                            timer: 5000
                        })
                    } else {
                            Swal.fire({
                            title: 'You need to log in first',
                            text: 'Redirecting to login page...',
                            icon: 'warning',
                            timer: 2000,
                            showConfirmButton: false
                        }).then(() => {
                            // Redirect to the login page
                            location.href = '/login'
                        });
                    }
                }
            })
        }
        
    </script>

    <footer class="main">
        <hr>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/assets/logo.jpg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                            class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>





    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

    </html>